apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: demo-webhook
webhooks:
  - name: webhook-server.webhook-demo.svc
    clientConfig:
      service:
        name: webhook-server
        namespace: webhook-demo
        path: "/mutate"
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURQekNDQWllZ0F3SUJBZ0lVZkkycXRJMkNlaHdwSmdBOTNYajhHNHVrS3c4d0RRWUpLb1pJaHZjTkFRRUwKQlFBd0x6RXRNQ3NHQTFVRUF3d2tRV1J0YVhOemFXOXVJRU52Ym5SeWIyeHNaWElnVjJWaWFHOXZheUJFWlcxdgpJRU5CTUI0WERUSTFNVEF4TURBMk1EWTBORm9YRFRJMU1URXdPVEEyTURZME5Gb3dMekV0TUNzR0ExVUVBd3drClFXUnRhWE56YVc5dUlFTnZiblJ5YjJ4c1pYSWdWMlZpYUc5dmF5QkVaVzF2SUVOQk1JSUJJakFOQmdrcWhraUcKOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXFVd25sSU81Umlmayt5Ty9OT0VIRUxZUC9ieTJaQTJHbFZ6YQpuWExLWXFKb2VtNkxBUXhoTjRPK2h2Y3BsMFFmN0poNjg5aXpjbVN4SzBMMWlsOEQySlVuZkRHTmFWeFB0V21GClVyamVNR2kxcVFZYzNtUWJHdjVxVDJ6bkIyWEhlbHJiWHR4ZC8wVzM3WTZLdmpod0gzM0h0Tjg2YlRYQUc2ZkMKaDc2Qis3dkZXeTZvbDZreTEwUThCOFJOdWtqQ1dXVUg0YmNteHFuRURkUFMrTDd6REc5QWJkVjVIVW14elJSVQpiMHhlVWJlc2NMaXdDYzJXTXNYRUVkZ29NVWMwa09sbGlqN0c2NWxYMHc4UVpaNkhQemNSOUJCV1k3d2FmcTExCjJJaXY2VHlRSWJDTkVMMjRPOUo0TGw4QzVWOGdINnA0Y2xPeGIyQ0o1K09tbXhNL2Z3SURBUUFCbzFNd1VUQWQKQmdOVkhRNEVGZ1FVMjJkOFRjU2VEa294TEZYbUhWOTlNNmlKSklvd0h3WURWUjBqQkJnd0ZvQVUyMmQ4VGNTZQpEa294TEZYbUhWOTlNNmlKSklvd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTkJna3Foa2lHOXcwQkFRc0ZBQU9DCkFRRUFwcnlYZkMyRThhdGFHQWpGNjBvWFBuU2hKSGU3RFRDd0tLUDBWUVA5akJ1OHYwNFp1RE9CVXIxZGQyTFkKU09ML0F5ZU5sa3dnUjcrcTNCK09lcUJFa05wZGZ6OWVCMzZLTVQ3dm9LbFc1cFdvR2ZwSFRFYmhKYTdQbVpobQpFTXp4VHhkN0I4VkVqWFZYbmdZcDh0dERHSWRaTzhuSmFrVE45OFhTT3lMeHd5eDh1UkFzVzRXelZ4RGZjMHRNCnM0UzhWV05ySkludFh2RldGTU00b2pRRTlJdjgrYWp0YUM2djBLYk1OVDlqMGVNeVQxaEN5ZE5FMnJoVk4wQWoKeVRadmJzN2VBUUFzemJJU3FVZ3dEVjllalEvMzgzTFBwRFZLeWxhQ1dOS2UyZHpUVnVzWk9nYlV2a2ZMdzk1bgppa0ZRNzF3dm03WHc5eUZmYXlBOFJqM3ZPdz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    rules:
      - operations: [ "CREATE" ]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
    admissionReviewVersions: ["v1beta1"]
    sideEffects: None
